.outer-container {
  height: calc(100vh - 40px);
  width: 100vw;
  background-color: red;
}

.inner-container-group {
  position: absolute;
  top: calc(40vh + 20px);
  left: calc(30vw);

  .inner-container {
    height: 20vh;
    width: 20vw;

    &.fa-svg{
      background-color: purple;
    }
  
    &.inline-svg {
      background-color: yellow;
    }
  }
}

.svg-container {
  position: relative; 
  height: 100%; 
  width: 0; 
  padding: 0;
  padding-right: 100%;
  /* over-ride this inline for aspect ratio other than square */

  ::ng-deep svg {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
  }
}