<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td class="variable-height-row">Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td class="svg-container no-borders">
          <svg viewBox="0 0 50 100" preserveAspectRatio="none">
            <polygon points="0 0, 0 100, 20 50" fill="#DDF5FF" />
          </svg>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td class="variable-height-row height-5vh">Thornton</td>
        <td class="svg-container">
          <svg viewBox="0 0 32 32" preserveAspectRatio="xMinYMin meet">
            <path
              d="M30.148 5.588c-2.934-3.42-7.288-5.588-12.148-5.588-8.837 0-16 7.163-16 16s7.163 16 16 16c4.86 0 9.213-2.167 12.148-5.588l-10.148-10.412 10.148-10.412zM22 3.769c1.232 0 2.231 0.999 2.231 2.231s-0.999 2.231-2.231 2.231-2.231-0.999-2.231-2.231c0-1.232 0.999-2.231 2.231-2.231z">
            </path>
          </svg>
        </td>
        <td class="svg-container no-borders">
          <svg viewBox="0 0 50 100" preserveAspectRatio="none">
            <polygon points="0 0, 0 100, 20 50" fill="#DDF5FF" />
          </svg>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td class="svg-container">
          <fa-icon class="d-block" [icon]="faCoffee"></fa-icon>
        </td>
        <td class="variable-height-row height-15vh">@twitter</td>
        <td class="svg-container no-borders">
          <svg viewBox="0 0 50 100" preserveAspectRatio="none">
            <polygon points="0 0, 0 100, 20 50" fill="#DDF5FF" />
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>