svg {
  position: absolute; 
  width: 20px; 
  left: 100%; 
  top: 0;
  z-index: 1001
}

.variable-height-row {
  height: 10vh;

  &.height-5vh {
    height: 5vh;
  }

  &.height-15vh {
    height: 15vh;
  }
}

.second-column {
  background: red;
  height: 50vh;
}

.table-container {
  position: relative;
  height: 20vh;
  width: 100%;
}

.table-wrapper {
  overflow-y: auto;
  overflow-x: visible;
  height: 100%;
  width: 100%;
}