<div class="container">
  <div class="row no-gutters">
    <div class="col-sm-6">
      <div class="table-container">
        <div class="table-wrapper">
          <table class="table w-100">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td class="svg-container no-borders">
                  <svg viewBox="0 0 50 100" preserveAspectRatio="none">
                    <polygon points="0 0, 0 100, 20 50" fill="#DDF5FF" />
                  </svg>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td class="variable-height-row height-5vh">Thornton</td>
                <td>
                  @fat
                </td>
                <td class="svg-container no-borders">
                  <svg viewBox="0 0 50 100" preserveAspectRatio="none">
                    <polygon points="0 0, 0 100, 20 50" fill="#DDF5FF" />
                  </svg>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>
                  the Bird
                </td>
                <td class="variable-height-row height-15vh">@twitter</td>
                <td class="svg-container no-borders">
                  <svg viewBox="0 0 50 100" preserveAspectRatio="none">
                    <polygon points="0 0, 0 100, 20 50" fill="#DDF5FF" />
                  </svg>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6 second-column"></div>
  </div>
</div>