<div class="container">
  <div class="row no-gutters">
    <div class="col-sm-6">
      <div class="table-container" #tableContainer>
        <div class="table-wrapper" #tableWrapper>
          <table class="table w-100" #table>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Above</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Above</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Above</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Above</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Above</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Above</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Above</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Above</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr #row>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td class="variable-height-row height-5vh">Thornton</td>
                <td>
                  @fat
                </td>
                <td class="p-0">
                  <svg viewBox="0 0 20 100" preserveAspectRatio="none" #triangle>
                    <polygon points="0 0, 0 100, 20 50" fill="#000000" />
                  </svg>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>
                  the Bird
                </td>
                <td class="variable-height-row height-15vh">@twitter</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Below</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Below</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Below</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Below</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Below</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Below</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Below</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td class="variable-height-row">Extra</td>
                <td>Row</td>
                <td>Below</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6 second-column"></div>
  </div>
</div>