.svg-container {
  position: relative;
  z-index: 1000;
  padding: 0;

  .svg-wrapper{
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
    z-index: 1001;
    padding-right: 19px;
  }

  ::ng-deep svg {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
    z-index: 1001
  }
}

.variable-height-row {
  height: 10vh;

  &.height-5vh {
    height: 5vh;
  }

  &.height-15vh {
    height: 15vh;
  }
}

.no-borders {
  border: none;
}

.second-column {
  background: red;
  height: 50vh;
}

.table-container {
  height: 20vh;
  width: 100%;
}

.table-wrapper {
  overflow: auto;
  height: 100%;
  width: 100%;
}

tbody {
  tr {
    position: relative;
  }
}